<div class="well pointer">
    <div class="row-fluid">
        <a ng-href="/booking/{{booking.id}}">
            <h2 class="span10">
                {{booking.firstName}} {{booking.lastName}} x{{booking.covers}}
            </h2>
        </a>
    </div>
    <div class="row-fluid">
        <span class="span1"><i class="icon-calendar-empty"></i> </span>
        <span>{{booking.date}} at {{booking.time}}</span>
    </div>
    <div class="row-fluid">
        <span class="span1">
            <i class="icon-check" ng-show="booking.seated"></i>
            <i class="icon-check-empty" ng-hide="booking.seated"></i>
        </span>
        <span>Seated</span>
    </div>
</div>