<div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><i class="icon-food"></i> Table Booker</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li data-match-route="booking">
                        <a ng-href="/booking/new"><i class="icon-calendar"></i> Create Booking</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>