h2 {
    color: graytext;
}
div.navbar-inverse .brand {
    color: #3ca4ca;
}
div.view-container {
    padding-top: 50px;
}
.pointer {
    cursor: pointer;
}
.pointer:hover h2{
    color: #3ca4ca;
}
.pointer:hover h2 i{
    color: #e08129;
}
.view-all{
    margin-left: 50px;
}
.well .row-fluid [class*="span"] {
    min-height: 0;
}
.calendar{
    border: 1px solid #555;
    width: 238px;
}
.calendar .row {
    margin-left: 0px;
}
.calendar .row div{
    float:left;
    padding:2px;
    width:30px;
    text-align:center;
}
.calendar-nav-left {
    float:left;
    width: 20px;
    padding:2px;
}
.calendar-nav-right {
    float: left;
    width: 20px;
    padding: 2px;
    text-align: right;
}

.calendar .row .calendar-hdr {
    padding: 2px;
    float: left;
    width: 166px;
    text-align: center;
}
.date-picker {
    position: absolute;
    top: -7px;
    left: 105px;
    background-color: #ffffff;
}