<div class="container" >
    <h1>Booking Details</h1>
    <hr/>
    <form name="editBookingForm">
        <span class="pull-right">
        </span>
        <dl>
            <dt>Name:</dt>
            <dd>{{booking.firstName}} {{booking.lastName}}</dd>
            <dt>Date:</dt>
            <dd>{{booking.date}} @ {{booking.time}}</dd>
            <dt>Covers:</dt>
            <dd>{{booking.covers}}</dd>
            <dt>Phone No.:</dt>
            <dd>{{booking.phoneNo}}</dd>
            <dt>Email:</dt>
            <dd><a ng-href="mailto:{{booking.email}}">{{booking.email}}</a></dd>
        </dl>

        <button type="button" ng-hide="booking.seated" class="btn btn-primary" ng-click="seat(booking)"><i class="icon-check"></i> Seat</button>
        <button type="button" ng-show="booking.seated" class="btn btn-primary" ng-click="unseat(booking)"><i class="icon-undo"></i> Unseat</button>
        <a ng-href="/booking/edit/{{booking.id}}" class="btn btn-success"><i class="icon-edit"></i> Edit</a>
        <a ng-click="delete(booking.id)" class="btn btn-warning"><i class="icon-trash"></i> Delete</a>
        <a ng-href="/bookings" class="view-all"><i class="icon-list"></i> View All</a>
    </form>
</div>
