<div>
    <h1>Bookings <a ng-href="booking/new" class="btn btn-success"><i class="icon-plus"></i></a></h1>
    <ul class="thumbnails">
        <li ng-repeat="booking in bookings" class="span5">
            <booking-summary booking="booking"></booking-summary>
        </li>
    </ul>
</div>