<div class="container" >
    <h1 ng-hide="editingBooking">New Booking</h1>
    <h1 ng-show="editingBooking">Edit Booking</h1>
    <hr/>
    <form name="editBookingForm">
        <fieldset>
            <label for="firstName">First Name:</label>
            <input id="firstName" type="text" required placeholder="first name..." ng-model="booking.firstName" />
            <label for="lastName">Last Name:</label>
            <input id="lastName" type="text" required placeholder="last name..." ng-model="booking.lastName" />
            <label for="bookingDate">Date:</label>
            <div style="position:relative">
                <input id="bookingDate" type="text" class="input-small" date-keys required placeholder="dd/mm/yyyy..." ng-model="booking.date" />
                <date-picker for="bookingDate"/>
            </div>
            <label for="bookingTime">Time:</label>
            <input id="bookingTime" type="text" class="input-mini" required placeholder="hh:mm..." ng-model="booking.time" />
            <label for="covers">Covers:</label>
            <input id="covers" type="number" class="input-small" required placeholder="covers..." ng-model="booking.covers" />
            <label for="phoneNo">Phone No.:</label>
            <input id="phoneNo" type="tel" required placeholder="phone number..." ng-model="booking.phoneNo" />
            <label for="email">Email:</label>
            <input id="email" type="email" required placeholder="email..." ng-model="booking.email" />
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="saveBooking(booking, editBookingForm)">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
    </form>
</div>
