<div class="row-fluid" ng-controller="MainController">
    <div class="span6 well pointer" ng-click="newBooking()">
        <h2><i class="icon-calendar"></i> Enter a booking</h2>
    </div>
    <div class="span6 well pointer" ng-click="seatBooking()">
        <h2><i class="icon-check"></i> Seat a booking</h2>
    </div>
</div>